
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Easy Blood</h2>
            <p class="item-intro text-muted">Bringing donors together to save lives.</p>
            <% img = image_tag 'eblood', class: 'img-responsive text-align-center', width: '1000'  %>
            <%= link_to img, 'https://easy-blood.herokuapp.com'  %>
            <p>Bringing people together by geolocation and preferred schedule generating crowdsourced campaings to save lives!</p>
            <ul class="list-inline">
              <li>Date: April 2018</li>
              <li>Client: Le Wagon Project</li>
              <li>Category: Monolith Web Application</li>
            </ul>
            <ul class="list-inline"><strong>Technologies Used:</strong>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Webpack - ES6</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Portfolio Generator</h2>
            <p class="item-intro text-muted">Helping build your own porfolio</p>
            <% img = image_tag 'portfoliog', class: 'img-responsive text-align-center', width: '1000'  %>
            <%= link_to img, 'https://mscorzoni-portfolio.herokuapp.com'  %>
            <p>Build your own porfolio with Google Maps Location and tech news from Twitter API</p>
            <ul class="list-inline">
              <li>Date: June 2018</li>
              <li>Client: Personal Project</li>
              <li>Category: Monolith Web Application</li>
            </ul>
            <ul class="list-inline"><strong>Technologies Used:</strong>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Webpack - ES6</li>
              <li>RESTful API</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Overtime</h2>
            <p class="item-intro text-muted">Control overtime logs from employees</p>
            <% img = image_tag 'overtime', class: 'img-responsive text-align-center', width: '1000'  %>
            <%= link_to img, 'https://msl-overtime.herokuapp.com'  %>
            <p>Control overtime logs through admin dashboard and mailing client </p>
            <ul class="list-inline">
              <li>Date: July 2018</li>
              <li>Client: Personal Project</li>
              <li>Category: Monolith Web Application</li>
            </ul>
            <ul class="list-inline"><strong>Technologies Used:</strong>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Webpack - ES6</li>
              <li>Sideqiq</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Freelance Proposal Generator</h2>
            <p class="item-intro text-muted">Generate Customize Freelance Proposal</p>
            <% img = image_tag 'freelance', class: 'img-responsive text-align-center', width: '1000'  %>
            <%= link_to img, 'https://github.com/mscorzoni/freelance-fe'  %>
            <p>Generate Customize Freelance Proposal in Angular 6 accessing Ruby on Rails backend database through APIS  </p>
            <ul class="list-inline">
              <li>Date: July 2018</li>
              <li>Client: Personal Project</li>
              <li>Category: Microservice Web Application</li>
            </ul>
            <ul class="list-inline"><strong>Technologies Used:</strong>
              <li>Angular 6</li>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Webpack - ES6</li>
              <li>RESTful API</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 5 -->


<!-- Portfolio Modal 6 -->
