<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright © Marcos Scorzoni</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <%= link_to '', 'https://github.com/mscorzoni', class: 'fab fa-github'  %>
          </li>
          <li>
            <%= link_to '', 'https://www.linkedin.com/in/marcos-scorzoni-68a597165/', class: 'fab fa-linkedin-in'  %>
          </li>
          <li>
            <%= link_to '', "mailto:mscorzoni@icloud.com?subject=PortfolioContact", class: 'fas fa-envelope'  %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
        </ul>
      </div>
    </div>
  </div>
</footer>