<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">Let's work together?</h3>
      </div>
    </div>
    <div class="row align-items-center ">
      <div class="col-md-6">
        <div class="col-md-7">
          <%= image_tag "https://avatars2.githubusercontent.com/u/16489757?s=400&u=c62c9ca6fac332fd8a8d9ce72f349532522dd819&v=4", width: 300, alt: 'profile image', id: 'profile-image' %>
        </div>
        <div class="col-md-5">
          <br>
          <p class="large text-muted"><i class="fas fa-phone fa-2x"></i> +44 7725 147 237</p>
          <p class="large text-muted"><%= link_to '', 'https://www.linkedin.com/in/marcos-scorzoni-68a597165/', class: 'fab fa-linkedin-in fa-2x'%> Linkedin</p>
          <p class="large text-muted"><%= link_to '', 'https://www.linkedin.com/in/marcos-scorzoni-68a597165/', class: 'fab fa-github fa-2x'%> Github</p>
        </div> 
        <div class="col-md-12">
          <p></p>
          <p class="large text-muted">My name is Marcos Scorzoni. I'm industrial engineer with twelve years of experience in management in well known companies such as Volkswagen and Faber-Castell. Last position as operations manager at Brazilian startup Printi in 2018. Since then, as I always loved technology, attended a FullStack bootcamp at Le Wagon and started a career as web developer </p> 
        </div>
      </div>   
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635451.2694912294!2d-0.6606326461900275!3d51.527313257234546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1536139183432" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

      </div>
    </div>
  </div>
</section>